<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing iSkillo website">
    <test name="Regression">
        <classes>
            <class name="finalProj.tests.NewPostTest"/>
            <class name="finalProj.tests.EditPublicInfoTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->